<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <h1 class="top" style="color: grey;">K</h1>
        <h1 class="top" style="color: orange;">O</h1>
        <h1 class="top" style="color: grey;">RE</h1>
        <img src="../../assets/images/docp.jpg">
        <h1 class="bottom-text">Simply</h1>
        <h1 class="bottom-text">IoT</h1>
        <p>SimplyIoT is a British engineering firm with expertise in embedded, wireless, smart energy, connected home
            and commercial building technologies.</p>
        <input type="button" value="CLICK" (click)="clickme()" id="but">
    </div>
</body>

</html>