<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <h1 style="color: grey;">K</h1><h1 style="color: orange;">O</h1> <h1 style="color: grey;">RE</h1>
        <img src="../../assets/images/architect-us-2.jpg">
        <h1 class="bottom-text">Innovative</h1>
        <p>Something innovative is new and original. If you love to experiment and find new ways to do things, you are an innovative person. Innovative, like nova, novel, and novice, comes from the Latin novus, which means new. Something innovative renews or alters the way something has been done.</p>
        <input type="button" value="CLICK" id="but" (click)="clickme()">
    </div>
</body>
</html>
