<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <h1 style="color: grey;">K</h1>
        <h1 style="color: orange;">O</h1>
        <h1 style="color: grey;">RE</h1>
        <img src="../../assets/images/jcb.jpg">
      
        <h1 class="bottom-text">Agile</h1>
        <p>Agile is an iterative approach to project management and software development that helps teams deliver value
            to their customers faster and with fewer headaches. Instead of betting everything on a "big bang" launch, an
            agile team delivers work in small, but consumable, increments.</p>
        <input type="button" value="CLICK" (click)="clickme()" id="but">

    </div>
</body>

</html>